<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Train.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>85A73D811C8D5D930019F384</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85A73D9A1C8D5D930019F384</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85A73DA51C8D5D930019F384</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
